# This configuration is intended for development purpose
# Spring Boot will automatically start these services when the application starts
name: partywave
services:
  postgresql:
    image: postgres:15-alpine
    environment:
      POSTGRES_DB: partywave
      POSTGRES_USER: partywave
      POSTGRES_PASSWORD: partywave
    ports:
      - '5432:5432'
    volumes:
      - postgres_data:/var/lib/postgresql/data

  redis:
    image: redis:7-alpine
    ports:
      - '6379:6379'
    command: redis-server --appendonly yes
    volumes:
      - redis_data:/data

volumes:
  postgres_data:
  redis_data:
